* {padding: 0px, margin: 0px; font-family: 'Segoe UI';}
@font-face{
	font-family: 'Segoe UI';
	src: url('img2/segoeuil.ttf');
}

.background1 {
	height: 207%;
	background-image: url(img2/desktop.svg);
	background-repeat: no-repeat;
	position: absolute;
	z-index: -1;
	top:0;
	min-width: 99vw;
	background-size: 1713px auto;
	background-position: center 350px;
	box-sizing: border-box;
}

.nav {
	position: relative;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1800px;
	margin: 0 auto;
	padding: 0 5%;
}

.outlook {
	margin: auto;
}

.mot {
	padding-top: 50px;
	position: absolute;
	top:0;
	left: 0;
	transform: matrix3d(6.76044,.16718,-2,.00125,1.91031,7.838,2,-.00032,0,0,1,0,28,32,0,8);
	z-index: 1;
	width: 855px;
	max-width: 80%;
	height: auto;
	transition: 1s;
}
.hai {
	position: absolute;
	top:33%;
	left: 55%;
	width: 377px;
	transform: matrix3d(.617678,.139478,0,-.000589,-.220175,.905113,0,-.000005,0,0,1,0,0,0,0,1);
	z-index: 2;
	max-width: 40vw;
	height: auto;
	max-height: 568px;
	transition: 1s;
}

.ba {
	position: absolute;
	top:33%;
	left: 0;
	width: 542px;
	transform: matrix3d(.9,.102242,0,.000598,-.004839,1.880642,0,-.000048,0,0,1,0,0,100,0,1);
	z-index: 2;
	max-width: 40vw;
	height: auto;
	max-height: 568px;
	transition: 1s;	
}

.bon {
	position: absolute;
	top:33%;
	left: 70%;
	width: 551px;
	transform: matrix3d(1,.059794,0,-.000485,-.154995,1,0,-.000282,0,0,1,0,0,0,0,1);
	z-index: 2;
	max-width: 14vw;
	height: auto;
	max-height: 568px;
	transition: 1s;	
}

.hinhanh:hover .mot {
	transform: matrix3d(6.76044,.16718,0,.00125,.91031,7.838,0,-.00032,0,0,1,0,28,32,0,7);
}

.hinhanh:hover .hai {
	transform: matrix3d(.717678,.139478,0,-.000089,-.200175,.925113,0,-.000005,0,0,1,0,0,0,0,1);
}

.hinhanh2:hover .ba {
	transform: matrix3d(1.170318,.102242,0,.000598,-.004839,1.880642,0,-.000048,0,0,1,0,0,100,0,1);
}

.hinhanh3:hover .bon {
	transform: matrix3d(1,.049794,0,-.000085,-.134995,1,0,-.000082,0,0,1,0,0,0,0,1);
}

.logo2 {
	width: 108px;
}

.tenoutlook {
	font-size: 20px;
    line-height: 28px;
    font-weight: thin;
    text-decoration: none;
    color: black;
    vertical-align: baseline;
    margin-right: 65px;
}

.dangnhap {
	font-size: 16px;
    line-height: 28px;
    font-weight: lighter;
    text-decoration: none;
    color: black;
    vertical-align: baseline;
}

.nut2 .dangnhap {
	padding-right: 30px;
}

.nut2 {
	justify-content: none;
}
.nut3 {
	display: flex;
}

.modau {
	margin: 0 auto;
	padding: 117px 0 100px;
	max-width: 960px;
	text-align: center;
}

.chumodau {
	font-size: 47px;
	letter-spacing: 0.5px;
	font-weight: 100;
	color: black;
}

.gioithieu1 {
	font-size: 16px;
	line-height: 1.88;
	margin: 0 auto 29px;
	max-width: 530px;
}

.nut4 {
	font-size: 17px;
	display: inline-block;
	padding: 10px 0px;
	border-radius: 2px;
	background-color: #0078D7;
	text-align: center;
	color: white;
	width: 210px;
	margin: 0px 13px 10px;
}

.nut4:hover {
	background-color: #005B9E;
	color: white;
	text-decoration: none;
}

.nut4.nut5 {
	background-color: white;
	border: 2px solid #0078D7;
	color: #0078D7;
}
.nut4.nut5:hover {
	border: 2px solid #005B9E;
	color: #005B9E;
}

.hinhanh {
	position: relative;
	display: flex;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 5px;
	align-items: center;
	height: 700px;
	justify-content: space-between;
}

.chumodau2 {
	display: inline-flex;
	position: absolute;
	top:80%;
	left: 0;
	text-align: left;
	font-size: 32px;
}

.gioithieu2 {
	font-size: 17px;
	display: inline-flex;
	position: absolute;
	top:90%;
	float: left;
	text-align: left;
	max-width: 50%;
}

.hinhanh2 .chumodau2 {
	left: 59%;
	top:54%;
}

.hinhanh2 .gioithieu2 {
	left: 59%;
	top:63%;
}

.hinhanh2 {
	position: relative;

	max-width: 960px;
	margin: 100px auto;
	padding: 0 5px;
	align-items: center;
	height: 700px;
	justify-content: space-between;
}

.hinhanh3 .chumodau2 {
	left: 0;
	top:50%;
	width: 60%
}

.hinhanh3 .gioithieu2 {
	left: 0;
	top:64%;
}

.hinhanh3 {
	position: relative;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 5px;
	align-items: center;
	height: 700px;
	justify-content: space-between;
}

.cuoi {
	font-size: 32px;
	padding-bottom: 30px;
}

.anhcuoi {
	min-width: 167px;
    height: 50px;
    margin: 0 14px;
}

.modaucuoi {
	padding: 20px 0px 80px 0px;
}

.footer {
	width: 100%;
	background-color: #F8F8F8;
	min-height: 250px;
	display: flex;
	padding: 3% 11%;
	justify-content: space-between;
}

.linkfoot {
	display: inline-flex;
	flex-wrap: wrap;
	color: #777777;
	font-size: 17px;
	font-weight: 700;
	margin: 0px 20px 20px 0px;
}

.hai2 {
	right:0;
}

.leftcontent1 {
	height: 50px;
}